.challenge {
  &__container {
    align-items: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 1.5rem 2rem;
    text-align: center;
  }

  &__active {
    height: 100%;
    display: flex;
    flex-direction: column;

    header {
      border-bottom: 1px solid $gray-line;
      color: $blue;
      font-size: 1.25rem;
      font-weight: 600;
      padding: 0 2rem 1.5rem;
    }

    main {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;

      strong {
        color: $title;
        font-size: 2rem;
        font-weight: 600;
        margin: 1.5rem 0 1rem;
      }

      p {
        line-height: 1.5;
      }
    }

    footer {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr;

      button {
        align-items: center;
        border: 0;
        border-radius: 5px;
        color: #fff;
        display: flex;
        font-size: 1rem;
        font-weight: 600;
        height: 3rem;
        justify-content: center;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.9);
        }

        &.btn__fail {
          background: $red;
        }

        &.btn__success {
          background: $green;
        }
      }
    }
  }

  &__notActive {
    align-items: center;
    display: flex;
    flex-direction: column;

    strong {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.4;
    }

    p {
      align-items: center;
      display: flex;
      flex-direction: column;
      line-height: 1.4;
      margin-top: 3rem;
      max-width: 70%;

      img {
        margin-bottom: 1rem;
      }
    }
  }
}
